# Pycharm Idea folder and Vs Code folder
/.idea
/.vscode

# Cache files and modules
/.venv
/__pycache__
disspy/__pycache__
examples/__pycache__

# Package builds
/disspy.egg-info
/dist
/sdist
/build

# Tests
test.py

# Package logs
__logs__
