# Pycharm Idea folder and Vs Code folder
/.idea
/.vscode

# Cache files and modules
/.venv
/__pycache__
disspy/__pycache__
/node_modules

# Package builds
/disspy.egg-info
/dist
/sdist
/build

# Tests
test.py
