# Pycharm Idea folder and Vs Code folder
/.idea
/.vscode

# Cache files and modules
.venv
__pycache__

# Package builds
/pytecord.egg-info
/dist
/sdist
/build

# Tests
test.py

# Package logs
__logs__
